<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="index.ico">

    <title>Prijava Vozila na Popravak</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/pocetna.css}">
  </head>

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <a href="pocetna.html">
			<img class="d-block mx-auto mb-4" src="assets/brand/AutoServis.png" alt="" width="72" height="72">
		</a>
        <h2>Prijava Vozila na Popravak</h2>
        <p class="lead">Unesite podatke potrebne za prijavu</p>
      </div>

      <div class="row">
        
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Proizvoljan odabir servisera:</h4>
          
		  <form class="needs-validation" novalidate>
		  
		  <hr class="mb-4">
			
			<div class="row">
              
			  <div class="col-md-7 mb-3">
                <label for="serviser">Serviser</label>
                
				<select class="custom-select d-block w-100" id="serviser" >
                  <option value="">Odabir...</option>
                  <option>serviser1???</option>
                </select>
              </div>
            </div>
			
            <hr class="mb-4">
            
			<button class="btn btn-primary btn-lg btn-block" type="submit">Odaberi vrijeme dolaska</button>
			
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 AutoServis</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/holder.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	
  </body>
</html>
